.link:hover {
    color: lightblue;
    text-decoration: underline;
}

#page {
    background-color: white;
}

.slideimage {
    background-color: black;
}

#featured-pet{
    width: 800px;
    margin:auto;
    border: 3px solid #212529;
    border-radius: 6px;
}

#footer{
    height:300px;
    background-color: #343a40;
}

#navbarSupportedContent{
    list-style:none;
}

#login a:hover{
    color:white;
}