.link:hover {
    color: lightblue;
    text-decoration: underline;
}

#page {
    background-color: white;
}

.slideimage {
    background-color: black;
}

#featured-pet{
    width: 800px;
    margin:auto;
    border: 3px solid #212529;
    border-radius: 6px;
}

#footer{
    height:300px;
    background-color: #343a40;
}

#navbarSupportedContent{
    list-style:none;
}

#login a:hover{
    color:white;
}

.centertitle {
    text-align: center;
}

.morebtn {
    margin: auto;
}

#comments {
    width: 68rem;
}

#dogpic {
    width: 100%;
} 

#login{
    line-height:0.4;
}

#add_heart{
    position: absolute; 
    right:0; 
    bottom: 130px; 
    height: 100px; 
    width: 100px;
    background-image: url("images/heart-empty.png");
    background-size: cover;
    z-index: 99;
}

#add_heart:hover{
    background-image: url("images/heart-filled.png");
    z-index: 99;
}

.featured-img-label{
    height: 140px;
}

#pet-ownership-articles .card, #recent-pets .card{
    width: 18rem;
}

.blank-div-h100{
    height: 100px;
}

.login-signup-form{
    margin-top: 100px; 
    border: 1px solid #343a40; 
    padding: 20px;
}