.link:hover {
    color: lightblue;
    text-decoration: underline;
}

#page {
    background-color: white;
}

.slideimage {
    background-color: black;
}

#featured-pet{
    width: 800px;
    margin:auto;
    border: 3px solid #212529;
    border-radius: 6px;
}

#footer{
    height:300px;
    background-color: #343a40;
}

#navbarSupportedContent{
    list-style:none;
}

#login a:hover, #search a:hover{
    color:white;
}

#search a{
    font-weight: bold;
}

.centertitle {
    text-align: center;
}

.morebtn {
    margin: auto;
}

#comments {
    width: 68rem;
}

#dogpic {
    width: 100%;
} 

#login{
    line-height:0.4;
}

#add_heart{
    position: absolute; 
    right:0; 
    bottom: 130px; 
    height: 100px; 
    width: 100px;
    background-image: url("images/heart-empty.png");
    background-size: cover;
    z-index: 99;
}

#add_heart:hover{
    background-image: url("images/heart-filled.png");
    z-index: 99;
}

.add_heart{
    position: absolute; 
    right:0; 
    bottom: 130px; 
    height: 100px; 
    width: 100px;
    background-image: url("images/heart-empty.png");
    background-size: cover;
    z-index: 99;
}

.add_heart:hover{
    background-image: url("images/heart-filled.png");
    z-index: 99;
}

.featured-img-label{
    height: 140px;
}

#pet-ownership-articles .card, #recent-pets .card{
    width: 18rem;
}

.blank-div-h100{
    height: 100px;
}

.login-signup-form{
    margin-top: 100px; 
    border: 1px solid #343a40; 
    padding: 20px;
}

.imgCrop{
    width: 250px;
    height: 250px;
}

.overlay{
    max-height:450px;
    position:absolute;
    top: 150px;
    left:0;
    right:0;
    margin:0 auto
}

.buttonGap{
    position: relative;
    left: -10px;
}

.increaseChatHeight{
    height: 800px;    
}

.increaseCard{
    width: 105%;
}

.positionNearBottom{
    position: relative;
    top: 530px;
}

#search-results{
    width: 50%;
    margin: 0 auto;
}

.pet_name, .pet_breed{
    display: inline;
}

.pet_name:after{
    content: ": ";
}

.pet_name{
    font-size: 1.75rem;
}

.dropdown-menu{
    display:none;
    right: 1px;
    left: -100px;
    top: 90%;
}

.dropdown-login{
    position: relative;
}

.dropdown-login:hover .dropdown-menu{
    display:block;
    position: absolute; 
}

.format-picture{
    right: 50px;
    position: absolute;
    top: 10px;
}

#chatForm{
    position: relative; 
    right: -1100px;
    width: 500px;
}

p{
    width: fit-content;
    font-size: large;
}

.alignToRight{
    position: relative; 
    right: -1100px;
}

#search-form{
    width: 1000px;
    margin: 0 auto;
}

.mt-2rem{
    margin-top: 2rem;
}
